{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FoodOnline</title>
	<!-- Google Font Family Link Start -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800">
	<!-- Google Font Family Link End -->

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo/favicon.png' %}" />
	<!-- CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<!-- Lightbox CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
	<!-- Bootstrap CSS -->
	<link href="{% static 'css/bootstrap-slider.css' %}" rel="stylesheet">
	<link href="{% static 'css/iconmoon.css' %}" rel="stylesheet">
	<link href="{% static 'css/cs-foodbakery-plugin.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">

	<!-- jQuery (required for Lightbox) -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- JAVASCRIPT -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Lightbox JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
	<script src="{% static 'js/modernizr.js' %}" defer></script>
	<script src="{% static 'js/bootstrap.js' %}" defer></script>

	{% if 'profile' in request.path or 'checkout' in request.path or request.path == '/' %}
	<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&libraries=places&callback=initAutoComplete" async defer></script>
	{% endif %}

	{% if 'checkout' in request.path %}
	<script>
		function payMethodConfirm(){
			var payMethod = $ ("input[name='payment-method']:checked").val();
			if(!payMethod){
				$('#payment-method-error').html("Please select a payment method!")
				return false;
			}else{
				var conf = confirm('You have selected ' + payMethod + ' as your payment method. \nClick "OK" to continue.');
				if(conf == true){
					return true;
				}else{
					return false;
				}
			}
		}

		$(function() {
			$('input[name="payment-method"]').change(function() {
			  $('#payment-method-error').html('');
			});
		  });
	</script>
	{% endif %}
	 <!-- Include the PayPal JavaScript SDK -->
	 {% if 'place-order' in request.path %}
	<script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}&currency=EUR"></script>
	<script>
		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

		var grand_total = "{{ grand_total }}"
		var url = "{% url 'payments' %}"
		var order_number = "{{ order.order_number }}"
		const csrftoken = getCookie('csrftoken');
		var order_complete = "{% url 'order_complete' %}"
		//console.log('csrftoken===>', csrftoken);

		// Render the PayPal button into #paypal-button-container
		paypal.Buttons({

			// Call your server to set up the transaction
			createOrder: function(data, actions) {
				return actions.order.create({
					purchase_units: [{
						amount:{
							value: grand_total
						}
					}]
				})
			},

			// Call your server to finalize the transaction
			onApprove: function(data, actions) {
				return actions.order.capture().then(function(orderData){

					// Successful capture! For demo purposes:
					//console.log(orderData);
					var transaction = orderData.purchase_units[0].payments.captures[0];
					var transaction_id = transaction.id
					var status = orderData.status
					var payment_method = 'PayPal'
					sendTransaction(transaction_id, status, payment_method);

					//alert('Payment Successful');

					// Replace the above to show a success message within this page, e.g.
					 const element = document.getElementById('paypal-button-container');
					 element.innerHTML = '';
					 element.innerHTML = '<h4 class="text-center text-warning"><i class="fa fa-spinner fa-spin"></i> Please wait your payment is being processed</h4>';
					// Or go to another URL:  actions.redirect('thank_you.html');
				});
			}

		}).render('#paypal-button-container');

		//send the data to payments view
		function sendTransaction(transaction_id, status, payment_method){
			$.ajax({
				url: url,
				type: 'POST',
				data: {
					'order_number': order_number,
					'transaction_id': transaction_id,
					'status': status,
					'payment_method': payment_method,
					'csrfmiddlewaretoken': csrftoken,
				},
				success: function(response){
					console.log('response===>', response);
					window.location.href = order_complete +'?order_no='+response.order_number+'&trans_id='+response.transaction_id;
				}
			});
		}
	</script>
	{% endif %}

	<script src="{% static 'js/custom.js' %}" defer></script>

	<style>
		body, .main-section p, .mce-content-body p{
			font:Normal  14px/24px "Open Sans", sans-serif;letter-spacing: 0px;text-transform: none;color: #515151 !important;
		}
	</style>
</head>

<body>
    <!--LOAD HEADER HERE-->
    {% include 'includes/header.html' %}

    <!--LOAD CONTENT HERE-->
    {% block content %}

    <!-- CONTENT GOES HERE-->

    {% endblock %}

    <!--LOAD FOOTER HERE-->
    {% include 'includes/footer.html' %}