{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FoodOnline</title>
	<!-- Google Font Family Link Start -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800">
	<!-- Google Font Family Link End -->

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo/favicon.png' %}" />
	<!-- CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<!-- Lightbox CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
	<!-- Bootstrap CSS -->
	<link href="{% static 'css/bootstrap-slider.css' %}" rel="stylesheet">
	<link href="{% static 'css/iconmoon.css' %}" rel="stylesheet">
	<link href="{% static 'css/cs-foodbakery-plugin.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">

	<!-- jQuery (required for Lightbox) -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- JAVASCRIPT -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Lightbox JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
	<script src="{% static 'js/modernizr.js' %}" defer></script>
	<script src="{% static 'js/bootstrap.js' %}" defer></script>

	{% if 'profile' in request.path or 'checkout' in request.path or request.path == '/' %}
	<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&libraries=places&callback=initAutoComplete" async defer></script>
	{% endif %}

	{% comment %} {% if 'checkout' in request.path %}
	<script src="{% static 'js/pay-method.js' %}"></script>
	{% endif %} {% endcomment %}

	<!-- Include the PayPal JavaScript SDK -->
	{% if 'place-order' in request.path %}
		<script src="{% static 'js/get-csrf.js' %}"></script>
		<script>
			window.paymentData = {
				url: "{% url 'payments' %}",
				order_number: "{{ order.order_number }}",
				order_complete: "{% url 'order_complete' %}",
		};
		</script>
		<script src="{% static 'js/payment-redirect.js' %}"></script>
		{% if order.payment_method == 'PayPal' %}
			<script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}&currency=EUR"></script>
			<script>
				window.paypalData = {
					grand_total: parseFloat("{{ grand_total }}"),
				};
			</script>
			<script src="{% static 'js/paypal-integration.js' %}"></script>
		{% elif order.payment_method == 'Stripe' %}
			<script src="https://js.stripe.com/v3/"></script>
			<script>
				window.stripeData = {
				  publicKey: '{{ STRIPE_PUBLIC_KEY }}',
				  createSessionUrl: '{% url "create-stripe-session" %}',
				  csrfToken: '{{ csrf_token }}'
				};
			  </script>
			<script src="{% static 'js/stripe-integration.js' %}"></script>
		{% endif %}
	{% endif %}

	<script src="{% static 'js/custom.js' %}" defer></script>
</head>

<body>
    <!--LOAD HEADER HERE-->
    {% include 'includes/header.html' %}

    <!--LOAD CONTENT HERE-->
    {% block content %}

    <!-- CONTENT GOES HERE-->

    {% endblock %}

    <!--LOAD FOOTER HERE-->
    {% include 'includes/footer.html' %}